$background-color: #3A5EF0;
$text-color: #D5F04F;
$first-color: #E1F03A;
$Second-color: #F0A607;

$border-radius: 5px;



.chat {
    width: 500px;
    height: 500px;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    border-radius: $border-radius;
    padding: 10px;


    .messages {
        color: $text-color;
        flex: 1;
        overflow-y:auto;
        padding-bottom: 100px;

        .box{
            display: flex;
            flex-direction: row;

            justify-content:space-between;

            .name{
                font-size: 1.2rem;
                font-weight:900;
                color:$Second-color;
            }

            .time{
                margin-right: 20px;
            }
        }
    }

    .form{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .box{
            display: flex;
            flex-direction: row;

            p{
                margin: 0 0 0 25px;
            }

            .inpName {
                max-width: 200px;
                color: black;
                outline: none;
                border: none;
                border-radius: $border-radius;
            }
        }

        .inpMessage {
            color: black;
            height: 70px;
            outline: none;
            border: solid 1px $first-color;
            border-radius: $border-radius;
            resize: none;
        }

        button{
            border-radius: $border-radius;
            background-color: $first-color;  
        }
    }
}
